.top-movies{
    width:96%;
    margin:auto;

    margin-top:30px;
}

.top-movies h2{
    margin-bottom:20px;
    font-size:35px;
}

.top-container{
    display:flex;
    gap:25px;

    flex-wrap:wrap;
}